@model FE.W.Models.Citas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Citas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePacienteCita" class="control-label"></label>
                <input asp-for="NombrePacienteCita" class="form-control" />
                <span asp-validation-for="NombrePacienteCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPacienteCita" class="control-label"></label>
                <input asp-for="ApellidoPacienteCita" class="form-control" />
                <span asp-validation-for="ApellidoPacienteCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DíaCita" class="control-label"></label>
                <input asp-for="DíaCita" class="form-control" />
                <span asp-validation-for="DíaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesCita" class="control-label"></label>
                <input asp-for="MesCita" class="form-control" />
                <span asp-validation-for="MesCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AñoCita" class="control-label"></label>
                <input asp-for="AñoCita" class="form-control" />
                <span asp-validation-for="AñoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraCita" class="control-label"></label>
                <input asp-for="HoraCita" class="form-control" />
                <span asp-validation-for="HoraCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
