@model FE.W.Models.PacienteNuevo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PacienteNuevo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPacienteNuevo" />
            <div class="form-group">
                <label asp-for="NombrePacienteNuevo" class="control-label"></label>
                <input asp-for="NombrePacienteNuevo" class="form-control" />
                <span asp-validation-for="NombrePacienteNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPacienteNuevo" class="control-label"></label>
                <input asp-for="ApellidoPacienteNuevo" class="form-control" />
                <span asp-validation-for="ApellidoPacienteNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
