@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h4>CLINICA DENTAL</h4>
    <p>PROYECTO FINAL</p>
</div>

<div class="row">
    <div class="col">
        
        <h2>David SC</h2>
        <p>
            Ing. en Sistemas <br />
            Universidad Fidelitas <br />
            Heredia,Costa Rica <br />
            jsanchez50586@ufide.ac.cr
         
        </p>
    </div>
    <div class="col">
        
        <h2>Wilson SG</h2>
        <p>
            Ing. en Sistemas <br />
            Universidad Fidelitas <br />
            Heredia,Costa Rica <br />
            wsanchez00244@ufide.ac.cr
     
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col">
        
        <h2>Yendry CM</h2>
        <p>
            Ing. en Sistemas <br />
            Universidad Fidelitas <br />
            Limón,Costa Rica <br />
            ycarrillo10004@ufide.ac.cr
        
        </p>
    </div>
    <div class="col">
        
        <h2>Kevin LJ</h2>
        <p>
            Ing. en Sistemas <br />
            Universidad Fidelitas <br />
            San José,Costa Rica <br />
            klopez10547@ufide.ac.cr
      
        </p>
    </div>
</div>